body {
background-color: white;
color: black;
font-family: Arial, sans-serif;
width: 900px;
margin: auto;
}

header {
text-align: center;
font-variant: small-caps;
border-top: 2px solid black;
border-bottom: 2px solid black;
padding: 10px;
}

aside {
float: right;
text-align: right;
font-weight: bold;
padding: 10px;
border-right: 6px light blue;
}

aside::first-line {
font-variant: small-caps;
}

h1 {
text-align: left;
font-size: 36px;
}

h2 {
text-align: left;
font-size: 22px;
}

article {
margin: 20px;
}

p {
text-align: justify;
font-size: 16px;
}

section {
background-color: light blue;
color: white;
padding: 20px;
border-left: 8px solid black;
}

section a {
color: white;
}

footer {
background-color: lightgray;
color: gray;
text-align: right;
padding: 15px;
border-top: 2px solid gray;
}

footer a {
color: gray;
}
